body {
    background: rgb(20, 20, 20);
}

a:link, a:visited {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, .8);
}

.bar {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, .5);
}

h1 {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, .8);
}

.item {
    background: rgb(20, 20, 20);
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, .2);
    color: rgb(187, 187, 187);
}

.toggle .track {
    background: rgb(50, 50, 50);
    border: 2px solid rgb(70, 70, 70);
}

.toggle .handle {
    background: rgb(100, 100, 100);
}

.toggle input:checked + .track {
    opacity: .7;
}
